html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

body {
	background-color: black;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=);
	background-repeat: repeat;
	font-size: 16px;
	color: #E6E5DF;
}

.share {
	position: absolute;
	bottom: 20px;
	left: 24px;
	margin: 0;
	z-index: 1;
	font-size: 0.9em;
}

.credit {
	position: absolute;
	bottom: 24px;
	right: 24px;
	margin: 0;
	z-index: 1;
	font-size: 0.9em;
}

.credit a {
	color: #fff;
	font-weight: bold;

	text-decoration: none;
}

.layer {
	text-align: center;
}

.layer h2 {
	
	top: 30%;
	margin: 0;
	font-size: 6.25em;
}

.layer p {
	position: relative;
	top: 30%;
	margin: 0;
}

.layer.one {
	background: #E6E5DF;
}

.layer.two {

	
	background: #E6E5DF;
}

.layer.three {
	background: #E6E5DF;
}

#tracks-form{
	margin: auto;
	height: 300px;
	width: 615px;
	overflow: auto;
	border: 0.01px solid #D9D8D2;
	border-radius: 15px;
	padding: 2%;
	background-color: white;
	color: black;
	text-align: left;
}

#tracks-form2{
	margin: auto;
	height: 129px;
	width: 615px;
	overflow: auto;
	border: 0.01px solid #D9D8D2;
	border-radius: 15px;
	padding: 2%;
	background-color: white;
	text-align: left;
	color: black;
}

.bullets {
	position: absolute;
	width: 100%;
	bottom: 20px;
	padding: 0;
	margin: 0;
	text-align: center;
}

.bullets li {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin: 0 3px;

	background: rgba( 255, 255, 255, 0.5 );
	box-shadow: 0px 0px 4px rgba( 0, 0, 0, 0.2 );
	cursor: pointer;

	-webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
}

.bullets li:hover {
	background: rgba( 255, 255, 255, 0.8 );
}

.bullets li.active {
	cursor: default;
	background: #fff;
}

@media screen and (max-width: 400px) {
	body {
		font-size: 12px;
	}

	.layer h2 {
		font-size: 5em;
	}

	.bullets li {
		margin: 0 6px;
	}

	.credit {
		bottom: initial;
		top: 10px;
		right: 10px;
	}

	.share,
	.github-ribbon {
		display: none;
	}
}


#firstmenu
{
	float: left;
	width: 85px;
	height: 37px;
}


}
#page {
	width: 960px;
	margin: 0px auto;
}
#users {

	margin: 20px 0 0 20px;
	color: black;
}
#users h3 {
	text-align: right;
}
#completed-tasks {
	float: left;
	padding: 0px;
	overflow-x: hidden;
}
#completed-tasks.open {
	width: 23%;
}
#completed-tasks .actions {
	display: none;
}
#completed-tasks .task {
	border-width: 0px 0px 1px 0px;
}
#completed-tasks .task p {
	text-decoration: line-through;
}
.user-panel {
	font-family: 'Slabo 27px', serif;  
	font-size: 25px;
	color: black;
	text-align: center;
	display: inline-block;
	padding: 7.5px;
	width: 300px;
	vertical-align: top;
	background-color: #fff;
	border-radius: 5px;
}

.user-name.over ~ .task-list {
	border: 2px dashed #dadada;
}
.toolbar {
	text-align: right;
	line-height: 30px;
	padding: 0px 6px;
	display: none;
}
.task-list {
	position: relative;
	margin: 4px 0px 0px 0px;
}

.fontSlabo {
	font-family: 'Slabo 27px', serif;  
	font-size: 25px;
	text-shadow: 0px -1px #E6E5DF;
	color: #5EA6F2;
}

.fitSize {
	height: 15px;
	width: 15px;
}

.fontSlaboSmall {
	font-family: 'Slabo 13px', serif;  
	font-size: 14px;
	color: #949288
}

.task {
	position: relative;
	background-color: #eaeaea;
	text-align: center;
	padding: 0px 0px 0px 4px;
	border-radius: 5px;

	background-color: #5EA6F2;
	border-bottom: 2px solid #499CF5;
	position: relative;
	padding: 10px 70px;
	margin: 0px 0px 5px 0px;
	float: left;
	height: 50px;
	width: 285px;
	border-radius: 10px;
	font-family: 'Slabo 27px', serif;  
	font-size: 25px;
	text-shadow: 0px -2px #499CF5;
}

.addButton {
	position: relative;
	text-align: center;
	padding: 23px 0px 0px 4px;
	border-radius: 5px;
	background-color: #3DF5A2;
	border-bottom: 2px solid rgb(42, 212, 135);
	position: relative;
	padding: 4px 10px 10px 110px;
	margin: 0px -15px 0px 0px;
	float: right;
	height: 34px;
	width: 7px;
	/* border-radius: 10px; */
	font-family: 'Slabo 27px', serif;
	font-size: 25px;
	/* text-shadow: 0px -2px grey; */
	/* color: aqua; */
}

.addButton > p {
	/* text-shadow: 0px -1px #424242; */
	color: #059051;
	margin: 7px 9px 10px -183px;
	padding: 0;
	line-height: 10px;
	display: inline-block;
	width: 90%;
	vertical-align: top;
}

.task:last-child {
	border-width: 1px;
}
.task > p {
	text-shadow: 0px -1px #499CF5;
	color: white;
	margin: 0;
	padding: 0;
	line-height: 10px;
	display: inline-block;
	width: 90%;
	vertical-align: top;
}
.actions {
	position: absolute;
	display: inline-block;
	padding: 0px;
	margin: 0px -200px 0 0;
	width: 19px;
	height: 19px;
	z-index: 10;
	overflow: hidden;
	background-color: #fff;
	opacity: 0.5;
	transition: all 0.75s ease-in-out;
}
.actions:hover {
	width: 150px;
	opacity: 1;
}
.actions a {
	padding: 0px 10px;
}
.task.over {
	border-top: 3px dashed #dadada;
}
#firstStepCircle
{
  border: 0px solid;
    border-radius: 136px;
    width: 27px;
    height: 27px;
    background-color: #2196F3;
    position: fixed;
    left: 25%;
    top: 85px;
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    color: white;
}

#secondStepCircle
{
   border: 0px solid;
    border-radius: 136px;
     width: 27px;
    height: 27px;
    background-color: #9e9e9e;
    position: fixed;
    left: 50%;
    top: 85px;
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    color: white;
}

#thirdStepCircle
{
   border: 0px solid;
    border-radius: 136px;
     width: 27px;
    height: 27px;
    background-color: #9e9e9e;
    position: fixed;
    left: 75%;
    top: 85px;
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    color: white;
}

#stepers
{
  height: 100px;
  background-color: white;
}


#firstSecond
{
  width: 188px;
    position: fixed;
    left: 30%;
    top: 84px;
}


#secondThird
{
  width: 188px;
    position: fixed;
    left: 57%;
    top: 84px;
}

#firstTextArea {
    position: fixed;
    left: 24%;
    top: 113px;
    color: black;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 200;
    font-size: 14px;
}

#secondTextArea {
    position: fixed;
    left: 49%;
    top: 113px;
    color: #9e9e9e;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 200;
    font-size: 14px;
}

#thirdTextArea {
    position: fixed;
    left: 74%;
    top: 113px;
    color: #9e9e9e;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 200;
    font-size: 14px;
}

#footer
{
	    position: fixed;
    bottom: 0px;
    background: #2196F3;
    height: 120px;
    width: 100%;
}

.arrows
{
	font-size: 92px;
    color: black;
    position: fixed;
    left: 86%;
    top: 29px;
    cursor: -webkit-grab;
}
